<html>
<head>
    <title>Python Meetup</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>Python Meetup</h1>

    <input type="text" id="search-input"/>

    <table id="search-results">
        <tr>
            <th>code</th>
            <th>name</th>
            <th>url</th>
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="./static/app.js"></script>
</body>
</html>